<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco" />
      </sectionGroup>
      <sectionGroup name="ServerSettings">
        <section name="ServerConfiguration" type="SAP.Middleware.Connector.RfcServerConfiguration, sapnco" />
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <!-- Used for outgoing connections-->
          <add NAME="T02" USER="NOTES_DATA" PASSWD="prodcat" CLIENT="102" LANG="EN" MSHOST="sgqasd02" GROUP="Default" SYSID="T02" />
          <add NAME="PRO" USER="NOTES_DATA" PASSWD="prodcat" CLIENT="102" LANG="EN" MSHOST="sgprod01" GROUP="Default" SYSID="PRO" />
          <add NAME="CRD" USER="FI_LABOR" PASSWD="RFCUSER" CLIENT="309" LANG="EN" MSHOST="sgcrdd50" GROUP="Default" SYSID="CRD" />
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
    <ServerSettings>
      <ServerConfiguration>
        <servers>
          <!-- Used for incoming Connections-->
          <add NAME="NCO_SERVER" GWHOST="sgprod01" GWSERV="sapgw36" PROGRAM_ID="nRfcTestServer" REPOSITORY_DESTINATION="NCO_TESTS" REG_COUNT="1"/>
        </servers>
      </ServerConfiguration>
    </ServerSettings>
  </SAP.Middleware.Connector>
  
</configuration>